/Assets/Resources/ConfigDevelopment.*
/*.app
/*_Data
/*.exe
/Assets/StreamingAssets/Cfs
/Assets/StreamingAssets/Cfs.meta
/Assets/StartupWindow.asset
/Assets/StartupWindow.asset.meta
/*.sln
/*.csproj
/.vs

/Records
/AssetBundlesLocal
/AppBuilder
/AppBuilderOutput.txt
/dfz.nsp
/dfz.nsp.*
/AutoRun
/dfz
